@media screen and (max-width: 768px){
	.burger-menu{
		display: flex;
	}
	nav{
		flex-direction: row-reverse;
		padding: 10px;
	}
	h1{
		font-size: 1.5rem
	}
	nav ul{
		display: none;
	}
}
@media (min-width: 760px){
	.burger-menu{
		display: none;
	}
	nav ul{
		display: flex;
	}
}